In [2]:
import numpy as np
import pandas as pd
country=['Taiwan','Australia','Ireland','Australia','Ireland','Taiwan']
age=[25,30,45,35,22,36]
salary=[20000,32000,59000,60000,43000,52000]
dic={"(A)Monday1":age,"(B)ampm1":country,"(C)local":country,"(D)time":country,"(E)local":country,"(F)time":country,}
data=pd.DataFrame(dic)
data

   (A)Monday1   (B)ampm1   (C)local    (D)time   (E)local    (F)time
0          25     Taiwan     Taiwan     Taiwan     Taiwan     Taiwan
1          30  Australia  Australia  Australia  Australia  Australia
2          45    Ireland    Ireland    Ireland    Ireland    Ireland
3          35  Australia  Australia  Australia  Australia  Australia
4          22    Ireland    Ireland    Ireland    Ireland    Ireland
5          36     Taiwan     Taiwan     Taiwan     Taiwan     Taiwan

In [70]:

df = pd.read_csv('2.csv',encoding='big5')

df.head()
ntext=[]
text=[]
daytemp=[0,0,0,0,0]
timetemp=[0,0,0]
txttemp=[]
A=''
B=''
C=''
f = open('final2.txt', "r",encoding='big5')
for line in f:
    text.append(line)
for co in range(1):
    ntext=text[0].split(',') 
    for w in range(len(ntext)):
        if '星期一' in ntext[w]:
            daytemp[0]=w
        elif '星期二' in ntext[w]:
             daytemp[1]=w
        elif '星期三' in ntext[w]:
            daytemp[2]=w
        elif '星期四' in ntext[w]:
             daytemp[3]=w
        elif '星期五' in ntext[w]:
             daytemp[4]=w
    
for w in range (0,len(daytemp)):
    if daytemp[w]!=0:
        for ww in range(daytemp[w],daytemp[w]+15) :
            if ww == len(ntext):
                  break
            if w == len(daytemp)-1:
                  pass
            elif ww == daytemp[w+1]:
                  break

              
            if '上午' in ntext[ww]:
                  timetemp[0]=ww
            if '下午' in ntext[ww]:
                  timetemp[1]=ww
            if '晚上' in ntext[ww]:
                  timetemp[2]=ww
                  #先找禮拜一的

    if w != len(daytemp)-1:
        a = timetemp[1]-timetemp[0]-1
        b = timetemp[2]-timetemp[1]-1
        c = daytemp[w+1]-timetemp[2]-1
      
         

      for num in range(a):
         A = A+ntext[timetemp[0]+1+num]

      for num in range(b):
         B = B+ntext[timetemp[1]+1+num]
            
      for num in range(c):
         C = C+ntext[timetemp[2]+1+num]

      print(timetemp)    
      df[ntext[daytemp[w]]]=[A,B,C]
           
          

      A=''
      B=''
      C=''




print(daytemp)
print(ntext)





df=df.rename(columns={'TIME':ntext[0]})
df.head()

[2, 5, 8]
[11, 17, 20]
[23, 26, 28]
[31, 34, 36]
[39, 42, 44]
[1, 10, 22, 30, 38]
['資訊學院', '星期一', '上午', '[S資訊管理大樓]', '[0-5分鐘]', '下午', '[AA科技大樓]', '[0-5分鐘]', '晚上', '[不在學校]', '星期二', '上午', '[EE綜合教學大樓]', '[0-5分鐘]', '', '[S資訊管理大樓]', '[0-5分鐘]', '下午', '[S資訊管理大樓]', '[0-5分鐘]', '晚上', '[不在學校]', '星期三', '上午', '[EE綜合教學大樓]', '[5-10分鐘]', '下午', '[不在學校]', '晚上', '[不在學校]', '星期四', '上午', '[S資訊管理大樓]', '[0-5分鐘]', '下午', '[不在學校]', '晚上', '[不在學校]', '星期五', '上午', '[S資訊管理大樓]', '[0-5分鐘]', '下午', '[不在學校]', '晚上', '[不在學校]', '', '午餐', '二餐(包含全家)', '幾點', '11-12時', '等候時間', '10-20分鐘\n']

  資訊學院               星期一  ...               星期四               星期五
0   上午  [S資訊管理大樓][0-5分鐘]  ...  [S資訊管理大樓][0-5分鐘]  [S資訊管理大樓][0-5分鐘]
1   下午   [AA科技大樓][0-5分鐘]  ...            [不在學校]            [不在學校]
2   晚上            [不在學校]  ...            [不在學校]            [不在學校]

[3 rows x 6 columns]

In [61]:






from google.colab import files
uploaded = files.upload()

Saving final2.txt to final2.txt

In [0]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit([1, 2, 2, 6])
le.classes_
le.transform([1, 1, 2, 6]) 
le.inverse_transform([0, 0, 1, 2])

array([1, 1, 2, 6])

In [0]:
le = preprocessing.LabelEncoder()
le.fit(["paris", "paris", "tokyo", "amsterdam"])
le.transform(["tokyo", "tokyo", "paris"]) 
list(le.inverse_transform([2, 2, 1]))

['tokyo', 'tokyo', 'paris']

In [0]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
enc = OneHotEncoder()
lb = LabelEncoder()
tmp = lb.fit_transform([123,456,789])
print(tmp)#输出LabelEncoder的结果
enc.fit(tmp.reshape(-1,1))#将LabelEncoder的结果作为OneHotEncoder特征输入
x_train = enc.transform(lb.transform([123,789]).reshape(-1, 1))
#输出特征[123,789]的OneHotEncoder的编码结果
print(x_train)

[0 1 2]
  (0, 0)	1.0
  (1, 2)	1.0

C:\Users\schoolpc\.conda\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [68]:
a=1

if a == 1:
  continue
elif a==2:
  print("ooooooo")

SyntaxError: ignored